@import 'styles/variables.scss';

.container {}

.halfPage {
  min-height: 50vh;
}

.fullPage {
  min-height: 100vh;
}
.fullPageHeader {
  min-height: calc(100vh - #{$header-height});
}
.fullPageHeaderFooter {
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}
